{% extends "main.html.twig" %}

{% block title %} - {% trans "An error occurred" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "An error occurred" %}</h1>
                <p>We're very sorry but something has gone wrong attempting to return this page.</p>
            </div>
        </div>
    </div>
{% endblock %}