<h2>{% trans "Mentions" %}</h2>
<ul class="reference-list">
    {% for mention in mentions %}
        <li>
            <a title="{{ mention.title }}"
               href="{{ urlFor("mention", {"type": mention.type, "name": mention.title }) }}">{{ mention.title }}</a>
        </li>
    {% endfor %}
</ul>
