{% if not mentions is empty %}
    <h2>{% trans "Mentions" %}</h2>
    {% for type, mentionList in mentions %}
        <h3>{{ type|snake_to_title }}</h3>
        <ul class="reference-list">
            {% for mention in mentionList %}
                <li>
                    <a title="{{ mention.title }}"
                       href="{{ urlFor("concept", {"type": mention.type, "id": mention.title }) }}">{{ mention.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>{% trans "No mentioned items found" %}</p>
{% endif %}