{% if not related is empty %}
    <h2>{{ relation_name|strip_rdf_prefix|camel_to_title }}</h2>
    <ul class="reference-list">
        {% for item in related %}
            <li>
                <a title="{{ item.prefLabel }}" href="{{ urlFor("ontology-resource", {"name": item.uri|strip_namespace}) }}">
                    {{ item.prefLabel }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}