{% if not related is empty %}
    <h2 title="{{ relation_name }}">{{ relation_name|strip_rdf_prefix|camel_to_title|snake_to_title }}</h2>
    {% include "_ontology_resource_list.html.twig" with {resources: related} %}
{% endif %}