<ul class="pagination">
    {% if offset > 0 %}
        <li><a href="?{{ {"q": query}|url_encode }}">{% trans "Start" %}</a></li>
        <li><a href="?{{ {"offset": max(0, offset - limit), "q": query}|url_encode }}">{% trans "Previous" %}</a></li>
    {% else %}
        <li class="disabled"><a>{% trans "Start" %}</a></li>
        <li class="disabled"><a class="disabled">{% trans "Previous" %}</a></li>
    {% endif %}
    {% if (items|length == limit) %}
        <li><a href="?{{ {"offset": offset + limit, "q": query}|url_encode }}">{% trans "Next" %}</a></li>
    {% endif %}
</ul>