{% if not mentions is empty %}
    <h2>{% trans "Related resources" %}</h2>
    <ul class="reference-list">
        {% for item in related %}
            <li>
                <a title="{{ item.title }}" href="{{ urlFor("resource", {"id": item.id }) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% include "_pagination.html.twig" with {'items': related } %}
{% else %}
    <p>{% trans "No related resources found" %}</p>
{% endif %}