{% extends "main.html.twig" %}

{% block title %}{{ document.getUri }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ name }}</h1>

                <h2>{% trans "Referencing documents" %}</h2>
                <ul class="reference-list">
                    {% for item in mentions %}
                        <li>
                            <a class="title" href="{{ urlFor("resource", {"id": item.id}) }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% include "_pagination.html.twig" with {'items': mentions} %}
            </div>
        </div>
    </div>
{% endblock %}